/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar h1 a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ffdd57;
}

/* Landing Page */
.landing {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(91,14,35,1) 26%, rgba(158,3,27,1) 35%, rgba(70,56,60,0.700717787114846) 75%, rgba(61,63,64,1) 82%, rgba(22,97,112,1) 100%);
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.btn-cta, .btn-cta-small {
    background-color: #ff5e57;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn-cta:hover, .btn-cta-small:hover {
    background-color: #ff7875;
}

/* Sección de Artículos */
#articulos {
    padding: 40px 20px;
    text-align: center;
}

#articulos h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

/* Estilo de tarjetas para artículos */
.tarjeta-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tarjeta {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.tarjeta:hover {
    transform: translateY(-5px);
}

.tarjeta h3 {
    color: #ff5e57;
    margin-bottom: 15px;
}

/* Formulario de contacto */
.contacto {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.contacto form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.contacto label {
    text-align: left;
    margin-bottom: 5px;
}

.contacto input, .contacto textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contacto button {
    align-self: center;
    padding: 10px 20px;
    font-size: 1rem;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 1.5em;
}

.social-icons a:hover {
    color: #ffdd57;
}
